.aboutusContainer::before {
  content: "";
  background: url("/public/img/bg/bgAboutUs.svg") center center/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.4;
  top: 0;
  left: 0;
}
