.contactusContainer::before {
  content: "";
  background: url("/public/img/bg/bgContactUs.svg") center center/cover
    no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.5;
  top: 0;
  left: 0;
}

.inputShadow {
  box-shadow: inset 3px 3px 5px #4aae79, inset -3px -3px 10px #59ce90;
}
